streamlit
python-dotenv
PyPDF2
faiss-cpu
sentence-transformers
huggingface_hub
mistralai
langchain==0.1.16
langchain-community==0.0.33
langchain-core==0.1.52
langchain-text-splitters
langchain-mistralai
